@font-face {
    font-family: newfont;
    src: url(./font/Poppins-Medium.ttf);
  
}
@font-face {
    font-family: fontbold;
    src: url(./font/Poppins-ExtraBold.ttf);
}
header{
    font-family: fontbold;
    background-color: #3a3737;
    color: #ffffff;
    text-align: center;
}
.color{
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-family: newfont;
}
section{
    font-family: newfont
}
.work{
    text-decoration: none;
    color: #483d8b;
}
.me{
    text-decoration: none;
    color: #483d8b;
}